<%- include('partials/header'); -%>

<div class="container">
<h1 class="mx-2">Home</h1>
<p class="mx-2"><%=StartingContent%></p>

<!-- for ( var i=0;i<posts.length; i++){  -->
<%blogs.forEach(function(blog){%>
  <h1 class="mx-2"><%=blog.title%>
  </h1>
  
  <% if (blog.post) { %>
    <p class="mx-2"><%= blog.post.substring(0, 100) + " ..." %></p>
  <% } else { %>
    <p class="mx-2">No content available.</p>
  <% } %>
  <a class="mx-2" href="/posts/<%=blog.title%>">Read More</a>
  <form class="mx-2" method="POST" action="/delete/<%= blog._id %>" style="display:inline;">
    <button type="submit">Delete<span><i class="fa-solid fa-trash fa-xs"></i></span></button>
  </form>
 <%})%>
</div>
 <!-- <div><button><a href="/compose">Compose</a> </button></div> -->





<%- include('partials/footer'); -%>
